/*
 * Painless Analytics Admin CSS
 */

.painlessanalytics-logo-a {
    display: inline-block;
}
.painlessanalytics-header .wrap {
    margin-top: 0;
    margin-right: .5rem;
}
.painlessanalytics-header .wrap h2 {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 1rem;
}
#powerpress-form-wrapper-setup {
    margin-top: 2rem;
}
.painlessanalytics-input-row {
    display: flex;
    flex-wrap: nowrap;
    margin: 1rem 0;
}
.painlessanalytics-textbox {
    border-radius: .5rem;
    flex-grow: 1;
    margin-right: .5rem;
}
.painlessanalytics-container {
	padding: .5rem 0;
	margin: 0 auto;
	width: 100%;
	max-width: 50rem;
	text-align: left;
}
.painlessanalytics-p-success {
    font-size: 1.5rem;
    color: #00a32a;
    padding-bottom: 0;
    margin-bottom: 0;
}
.painlessanalytics-p-success svg {
    vertical-align: text-bottom;
}
.painlessanalytics-p-error {
    font-size: 1.5rem;
    color: #d63638;
}
.painlessanalytics-p-error svg {
    vertical-align: text-top;
    padding-top: .25rem;
}
.painlessanalytics-footer .painlessanalytics-container {
    text-align: center;
}
.painlessanalytics-logo {
    margin-left: -1.5rem;
}
.painlessanalytics-none {
    display: none !important;
}
.painlessanalytics-setup-link {
    padding: 1em 0;
    display: inline-block;
    font-size: 120%;
    font-weight: bold;
}
.painlessanalytics-p-lg {
    font-size: 120%;
}
.painlessanalytics-embed {
    background-color: #FAFAFA;
    border: 1px solid black;
    padding: 5px;
}